@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  /* 建立變數 */
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 150%;
  background-color: rgb(107, 102, 102);
  place-items: center;
  display: -ms-grid;
  display: grid;
}

.page-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  /* 內邊間距 */
  padding: 1rem;
  max-width: 1500px;
  /* 外邊距為上下都為 0，左右自動調整（居中對齊） */
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 450px;
  }
}


.card {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-align: end;
align-items: flex-end;
overflow: hidden;
padding: 1rem;
width: 100%;
text-align: center;
background-color: rgb(175, 183, 185);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

/* card movement */
.card:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 110%;
/* 設定偽元素的背景大小 */
background-size: cover;
/* background-position: 0 0; */
transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
/* 將不會觸發任何與鼠標相關的事件，包括滑鼠點擊、滑鼠移動、滑鼠滾輪 */
/* pointer-events: none; */
}


.card:nth-child(1):before {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/640px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg);
}
.card:nth-child(2):before {
  background-image: url(https://scontent.ftpe6-1.fna.fbcdn.net/v/t1.18169-9/10441199_414933528678348_7485255079752473403_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=nYVLVlnpJQwAX-uxbTf&_nc_oc=AQkbwORBLWqUS-cVVUPnCt5xjoTwNocE857ebAojs7Qx5FdzTVCebWSpNVKHgjwSMCk&_nc_ht=scontent.ftpe6-1.fna&oh=00_AfD01WDT5ngrqfAkG-pKb6eL2idpKmqFOpz1RfMsAH_y6g&oe=64F05DDF);
}
.card:nth-child(3):before {
  background-image: url(https://www.ppaper.net/ckfinder/connector?command=Proxy&lang=zh-tw&type=Images&currentFolder=%2F2021-03-06-Mateusz%20Urbanowicz%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=10.jpg);
}
.card:nth-child(4):before {
  background-image: url(https://tgi13.jia.com/118/085/18085627.jpg);
}


.content {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-align: center;
align-items: center;
width: 100%;
padding: 1rem;
transition: -webkit-transform var(--d) var(--e);
transition: transform var(--d) var(--e);
transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
z-index: 1;
color:aliceblue;
}
/*  */
.content > * + * {
  margin-top: 1rem;
}


.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  color:aliceblue;
  background-color: #888588;
  border-radius: 10px;
  width: 150px;
  height: auto;

}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  color:aliceblue;
  background-color: #7b7878;
}


@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  /* 鼠標點選時顯現圖卡字樣 */
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover,
.card:focus-within {
      -ms-flex-align: center;
      align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);   
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }

  /* 鼠標抽離時時回到只有圖卡標題狀態 */
.card:hover .content > *:not(.title) {
    opacity: 1;
    /* transform: translateY(0); */
    transition-delay: calc(var(--d) / 8);
  }
}

#camera-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(198, 200, 201);
  /* z-index: 1; */
  display: none;
  border: 5px solid #fcfbfb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(7, 53, 58, 0.5);
  margin-top: 20px;
  }

  /* button 間隔 */
  /* #modal-header button {
  margin-right: 5px;
  } */

  .modal-body{
    width: 100%;
    height: 500px;
  }

  .modal-footer button{
    background-color: rgb(70, 70, 249);
    color: #fcfbfb;
  }

  #canvas{
    width:400px;
    height:400px;
  }
