.img-wrapper {
    border: 10px solid #b9b2b2;
    box-shadow: 0 0 10px rgba(104, 97, 97, 0.2);
    padding: 10px;
    display: inline-block;
  }

h1{
  color:#0f17f1;
}


#webtitle{
  text-align: center;
  width:100%;
}

#content{
  color: #ddd;
}

#reset{
  margin-left: 10px;

}

#submitbtn{
  margin-left: 10px;
}

/* function button */
#col1{
  background-color: #b9b2b2;
  position: relative;
  right: 10%;
  height:500px;
  width:400px;
  text-align: center;
}

#col2{
  background-color: #b9b2b2;
  position: relative;
  left: 10%;
  height:500px;
  width:400px;
  text-align: center;
}

.dropdown{
  text-align: initial;
}

#upload{
  text-align: initial;
  margin-left: 40px;
}

.arrow{
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: #06c9b6;
}

#crop_img:hover{
 background-color: cyan;
}

#transform:hover{
  background-color: cyan;
}

#takephoto:hover{
  background-color: cyan;
}

#tools{
  background-color: #2948d6;
  color: #ffffff;
  margin-bottom: 10px;
}


.btn{
  background-color: #950fee;
  margin-top: 15px;
}

.btn-info{
  border-color: #950fee;
}
/* control btn */
.btn:hover {
  background-color: #d55bf4;
}
.btn:focus {
  outline: 1px dashed rgb(199, 40, 223);
  outline-offset: 3px;
} 

/* control card btn */
.card-btn{
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color:#ffff;
  background-color: #515152;
  border: none;
  border-radius: 5px;
}

.card-btn:hover {
  background-color: #eaf463;
}
.card-btn:focus {
  outline: 1px dashed rgb(211, 83, 236);
  outline-offset: 3px;
} 

/* crop window */
.upload-demo{
  width: 400px;
	height: 400px;
  padding-bottom:20px;
}