<html>
  <head>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
   <!-- Bootstrap-4 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- croppie js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet"></link>
    <!-- Font Awesome css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"></link>
  </head>
  <style>
    @import url(../static/img_uploader.css);
    @import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
    @import url(../static/img_scss.css);
 </style>
<body>
  <div id='title' class="jumbotron bgtext-white" style="background-color: #333337;"> 
    <h1 style="color:#82e9e9">Image-to-Painting Demo</h1>  
   </div> 
  <div class="container fluid">
    <div class="col-20  mx-auto">
    <td><h4>I leverage the principle of cyclegan to implement a style converter that can select crop size and style settings before conversion from input photos. i hope you enjoy it all !</h4></td>
    <main id="page-content" class="page-content">
      <div class="card">
        <div class="content">
          <h2 class="title">Mountain View</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
          <button class="card-btn">View Trips</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">To The Beach</h2>
          <p class="copy">Plan your next beach trip with these fabulous destinations</p>
          <button class="card-btn" id="card-btn">View Trips</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Desert Destinations</h2>
          <p class="copy">It's the desert you've always dreamed of</p>
          <button class="card-btn" id="card-btn">Book Now</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Explore The Galaxy</h2>
          <p class="copy">Seriously, straight up, just blast off into outer space today</p>
          <button class="card-btn" id="card-btn">Book Now</button>
        </div>
      </div>
    </main>  
  </div>
      <br>

      <div class="row">
        <div class="col-md-6" >
      <!-- <img id="oldImg" src="https://dummyimage.com/300x300/f7f2f7/a2a3ab/&text=Upload image" alt="image-placehoder" class="img-thumbnail" data-target="image-preview"> -->
          <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                          CROP IMAGE</h4>
                      </div>
                      <div class="modal-body">
                        <div id="upload-demo" class="center-block"></div>
                      </div>
                      <div class="modal-footer">
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                      </div>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">   
    <div class="col">
      <div id="upload">
        <form id="file-upload-form" method='post' enctype="multipart/form-data">
          <label class="btn btn-info">
            <input type="file" name="file" id='upload-file' multiple="multiple" accept="image/png" style="display:none;">
            <i class="fa fa-photo"></i> Upload images
          </label>
          <label  id='submitbtn'class="btn btn-info" type="submit">
            <i class="fa fa-share"></i> Submit
          </label>
        </div>
      </form>
      <img id="oldImg" src="https://dummyimage.com/300x300/f7f2f7/a2a3ab/&text=Upload image" alt="image-placehoder" class="img-thumbnail" data-target="image-preview">
    </div> 

    <div class="col">
            <div class="input-group mb-3">
                <button  class="btn btn-info" id='download'><i class="fa fa-arrow-circle-down"></i> Save image</button>
                <button  class="btn btn-info" id='reset'><i class="fa fa-repeat"></i> Reset</button>     
            </div>    
          <!-- <img id="newImg" src="data:image/jpg;base64,{{img_b64}}" alt=""> -->
          <img id="newImg" src="https://dummyimage.com/300x300/f7f2f7/a2a3ab/&text=transform image" ></img>   
    </div>
</div>


<div class="container">
      <!-- 導覽列 -->
      <div class="dropdown">
        <button id='tools' class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <button class="dropdown-item" id="crop_img" >
            <i class="fa fa-scissors" ></i> Crop image</button>
          <button class="dropdown-item" id="transform">
            <i class="fa fa-undo"></i> Transform</button>
          <button class="dropdown-item" id='takephoto' data-toggle="modal" data-target="#camera-modal">
            <i class="fa fa-camera"></i> Take photo</button>
        </div>
      </div>


      <div class="modal fade" id="camera-modal" tabindex="-1" role="dialog" aria-labelledby="camera-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="camera-modal-label">Take photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="camera-window">
                <button id='camera' class="btn btn-primary" >Camera</button>
                <button id='screenshot' class="btn btn-primary">Screenshot</button>
                <button id='stop' class="btn btn-secondary" >Stop</button>
                <button id='cancel' class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id='select' class="btn btn-secondary" data-dismiss="modal">Select</button>
                  <div id="screenshot-container">
                    <video id='video'></video>
                  </div>
              </div>
              <canvas id='canvas'></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
         <div id='image2painting'></div>
  </div>  
  <script src="../static/crop.js"></script>
<!-- <script src="../static/img_uploader.js"></script> -->
  <script src="../static/take_photo.js"></script>
</body>
</html>