<!DOCTYPE html>
<html>
    <head>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></link>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'></link>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        .progress {
        position: relative;
        border: 5px solid #FFF;
        width: 400px;
        height: 20px;
        overflow: hidden;
         /* &.loaded { display: none;}
        .progress-inset {
            position: absolute;
            top: 0; left: 0;
            height: 100%;
            background: #FFF;
        }  */
        } 
    </style>
    </head>
    <body>
        <button type='submit'>start</button>
        <div class=”progress”>
            <div class=”progress-inset”></div>
        </div>
        <script type='text/javascript'>
            function progress(){
            var total = $('img').length; //計算全部的圖有多少張。
            var finish = 0; //已載入完畢的圖片
            // 圖片只載入一次，且載入時調用loaded function
            $('img').one('load', loaded)
            // when load images....
            function loaded() {
                finish += 1 //圖片載入完成就+1
                var percent = finish / total * 100 //計算完成趴數
                $('.progress .progress-inset').width(percent + '%') //控制進度條寬度
                if (percent >= 100) {
                    $('.progress').addClass('loaded') //全部完成的話，加上 .loaded
                }
                }
            }
            progress()
        </script>
</body>
</html>  