<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></link>
        <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'></link>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet"></link>
      </head>
        <style>
            #take-photo{
                position:absolute;
                top:0;
                left:0;
            }
            #camera-window {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 500px;
                height: 500px;
                background-color: rgb(161, 220, 246);
                /* z-index: 1; */
                display: none;
                border: 5px solid #fcfbfb;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(7, 53, 58, 0.5);
                margin-top: 20px;
                }
                /* button 間隔 */
                #camera-window  button {
                margin-right: 2px;
                }
        </style>
    </head>
<body>
<!--即時拍照功能-->
<button id="take-photo">Take photo</button>
<div id="camera-window">
    <button id='camera' >camera</button>
    <button id='screenshot'>screenshot</button>
    <button id='stop' >stop</button>
    <button id='cancel' >cancel</button>
    <div id="screenshot-container">
    <video id='video' src=""></video>
    </div>
</div>
<canvas id='canvas'></canvas>   
<img id='oldImg'></img>

<script type="text/javascript">

        // 及時照相
        // define a camera
        let cameraStream 
        const camera =document.querySelector('#camera')
        const open =document.querySelector('#open')
        const video =document.querySelector('#video')
        const Stop =document.querySelector('#stop')
        const constraints = { audio: true, video: { width:400, height:400 }}
        // 擷取照片傳至canvas中
        const canvas = document.querySelector('#canvas');
        const context = canvas.getContext('2d');
        const Screenshot = document.querySelector('#screenshot')
        const oldImg=document.querySelector('#oldImg')
        const cameraWindow=document.querySelector('#camera-window')
        const takePhoto=document.querySelector('#take-photo')
        const cancel=document.querySelector('#cancel')
        const screenshotContainer = document.getElementById('screenshot-container');

        takePhoto.addEventListener('click',()=>{
        // show in window
        cameraWindow.style.display='block';
        camera.addEventListener('click',()=>{
                navigator.mediaDevices.getUserMedia(constraints).then
                (stream => {
                    cameraStream = stream
                    video.srcObject = stream
                    video.play();
                    // const videoContainer = document.getElementById('video-container');
                    cameraWindow.style.position = 'absolute';
                    cameraWindow.style.top='50%';
                    cameraWindow.style.left='50%';
                    video.style.position = 'absolute';
                    video.style.left = '50%';
                    video.style.top = '50%';
                    video.style.transform = 'translate(-50%, -50%)';

                }).catch(err=>{
                alert('open camera fail')
            });
         });

        // stop screen 
        Stop.addEventListener('click',()=>{
                if (cameraStream){
                //  getTracks取得所有軌道(track)，返回MediaStreamTrack物件陣列，每個物件包含該軌道的相關資訊(（頻或視頻、ID、狀態)
                    cameraStream.getTracks().forEach(track=>{
                    track.stop()
                    })
                    cameraStream=null
                }
                })
        // show screenshot
        Screenshot.addEventListener('click', () => {
                // 獲取canvas的寬度和高度
                const width=canvas.width= video.videoWidth
                const height=canvas.height= video.videoHeight;
                context.drawImage(video,0,0,width,height);
                screenshotContainer.innerHTML = '';
                screenshotContainer.appendChild(canvas);
                screenshotContainer.style.position='absolute';
                screenshotContainer.style.left = '50%';
                screenshotContainer.style.top = '50%';
                screenshotContainer.style.transform = 'translate(-50%, -50%)';
                // 將canvas的內容轉為base64格式
                // const imagedata=canvas.toDataURL('image/jpg');
        });

        cancel.addEventListener('click',()=>{
            video.src=""
        })
    });
</script>
</body>
</html>